*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: midnightblue;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    color: #ededed;
}
h3{
    color: #ededed;
    font-style: italic;
    margin-bottom: 50px;
}

.div-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



.display{
    width: 200px;
    height: 200px;
    background: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.number{
    color: black;
    font-size: 6rem;
    font-weight: 600;
}

.div-operation-container{
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.btn{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ededed;
    font-size: 5rem;
    font-weight: 600;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 0 50px #0ef;
}
.btn:active{
    color: #ededed;
    background: #0ef;
}
.btn:after{
    box-shadow: none;
}

.negative-check-div{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.negative-check{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.negative-label{
    color: #ededed;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 15px;
}

.div-check10{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.check10-label{
    color: #ededed;
    font-size: 1.5rem;
    margin-left: 15px;
}

.div-reset{
    width: 70%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.btn-reset{
    height: 75px;
    width: 150px;
    border:  2px solid #ededed;
    border-radius: 10px;
    background: red;
    color: #ededed;
    font-size: 2rem;
    font-weight: 600;
}
.btn-reset:hover{
    cursor: pointer;
    box-shadow: 0 0 50px red;
}
.btn-reset:active{
    background: #ededed;
    color: red;
    box-shadow: 0 0 50px red;
}
.btn:after{
    box-shadow: none;
}

.alert-div{
    display: none;
    background: #ededed;
    font-weight: 600;
    color: red;
    width: 70%;
    min-height: 50px;
    font-size: 2rem;
    border: 2px solid red;
    margin-top: 15px;
}

@media only screen and (min-width: 351px) and (max-width: 768px){
    h1{
        font-size: 2rem;
        margin-top: 20px;
    }
    .display{
        width: 150px;
        height: 150px;
    }

    .number{
        font-size: 4rem;
    }
    .btn{
        width: 100px;
        height: 100px;
        font-size: 2rem;
    }

    .negative-label{
        font-size: 1.5rem;
    }

    .check10-label{
        font-size: 1rem;
    }
    .negative-check{
        width: 30px;
        height: 30px;
    }

    .btn-reset{
        font-size: 1.5rem;
    }

    .alert-div{
        font-size: 1rem;
        font-weight: 500;
    }
    
}

@media only screen and (max-width: 350px){
    h1{
        font-size: 1rem;
    }
    .display{
        width: 100px;
        height: 100px;
    }
    .number{
        font-size: 2rem;
    }
    .btn{
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }
    .negative-label{
        font-size: 1rem;
    }
    .negative-check{
        width: 20px;
        height: 20px;
    }

    .check10-label{
        font-size: 0.8rem;
    }

    .btn-reset{
        height: 40px;
        width: 80px;
        font-size: 1rem;
    }

    .alert-div{
        font-size: 1rem;
        font-weight: 500;
    }
}